<?xml version="1.0"?>
<launch>
  <master auto="start"/>
   <arg name="gui" default="true"/>
  <arg name="world" default="empty"/>


  <include file="$(find rosbot_bringup)/launch/rosbot_gazebo.launch"></include>

  <include file="$(find robot_test)/launch/maze_world.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="world" value="$(arg world)"/>
  </include>
    <param name="robot_description" command="$(find xacro)/xacro '$(find rosbot_description)/urdf/rosbot.xacro'"/>

  <!-- Map server -->
  <arg name="map_file" default="$(find rosbot_navigation)/maps/house.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="/scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="update_min_d" value="0.1"/>
    <param name="update_min_a" value="0.2"/>
    <param name="min_particles" value="500"/>
  </node>

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find robot_test)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_test)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robot_test)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_test)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_test)/config/trajectory_planner.yaml" command="load" />

    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odom"/>
    <remap from="scan" to="/scan"/>
    <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="1.0"/>
    <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="1.0"/>

  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rosbot_description)/rviz/rosbot.rviz" required="true" output="screen"/>
</launch>


